### Laravel template
/vendor
/node_modules
/bootstrap/compiled.php
Homestead.yaml
Homestead.json
.env.*.php
.env.php
.env
/public/js/laroute.js
/public/build

### PhpStorm specific
.idea

### NetBeans specific
/nbproject

### barryvdh/laravel-ide-helper
.phpstorm.meta.php
_ide_helper.php

### coveralls specific
/build