* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    margin: 0;
}

html, body {
    min-height: 100%;
}

html {
    position: relative;
}

.profile-image {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.mobile-icon-profile.col-xs-2.col-sm-2.hidden-md.hidden-lg {
    text-align: center;
    margin-top: 15px;
}

.mobile-icon-profile .ion-android-person:before, .mobile-icon-profile .ion-search {
    color: #803a76;
}

.main_container {
    min-height: 100%;
    overflow: hidden;
    /*padding-bottom: 50px;*/
    /*    height: auto !important;
        height: 100%;*/
}


.navbar {
    background: -webkit-linear-gradient(#f2f2f2, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f2f2f2, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f2f2f2, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f2f2f2, #ffffff); /* Standard syntax */
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

/*.left_col {
    border-right: 1px solid black;
}*/

.articles_list {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 20px;
}

.side_tabs {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.side_tabs ul.nav-tabs {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.side_tabs li {
    display: inline;
    width: 48%;
}

.side_tabs li:first-of-type {
    padding-left: 4%;
}

.side_tabs a {
    float: left;
}

.side_nav > li > a {
    padding: 5px 10px !important;
    width: 100%;
}

.side_tabs_top {
    position: relative;
    padding-top: 2em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 -10px 180px -10px;

    border-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9a9a9a), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to top, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
    border-bottom: 1px solid #9a9a9a;
}

.side_tabs_top:before, .side_tabs:after {
    content: '';
    position: absolute;
}

.side_tabs_top:after {
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
}

.top-user-name, .top-user-name a {
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.top-user-name a, .top-user-name a:hover {
    color: #081d32;
}

.top-user-count {
    font-style: italic;
}

.top_user_1, .top_user_2, .top_user_3 {
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 235px;
    padding-top: 2em;
}

.top_user_1 img, .top_user_2 img, .top_user_3 img {
    margin-top: 15px;
    margin-bottom: 7px;
}

.top_user_1 {
    background-image: url('/img/topuser_background.png');
}

.top_user_2 {
    background-image: url('/img/topuser_background2.png');
    width: 90%;
    margin: auto;
}

.top_user_3 {
    background-image: url('/img/topuser_background3.png');
}

/*footer {
    bottom: 0;
    height: 60px;
    color: #ffffff;
    background-color: #18222c;
    padding: 20px 0;
    z-index: 50;
}*/

.center_elements {
    margin: 0 auto;
}

.table_block th {
    padding: 10px 10px;
    background-color: lightgrey;
}

.table_block td {
    padding: 2px 10px;
}

.border_right {
    border-right: 1px solid darkgrey;
}

.pagination {
    margin: 30px 0;
}

.table_not_grading_student td, .table_grades td, .table_courses_view_td {
    padding: 15px 10px;
}

.table_not_grading_teacher td, .table_courses_view_button {
    padding: 8px 10px;
}

.tab-content {
    padding-top: 20px;
}

.bootstrap-tagsinput {
    width: 100%;
}

#nav-top-right {
    position: relative;
    top: -2.5em;
}

#nav-top-right a {
    font-weight: bold;
    font-style: italic;
    color: #ff1149;
}

.main-header {
    margin-bottom: 0;
    background-color: white;
}

.full-nav-width, .full-nav-width ul, .full-nav-width ul li {
    padding-left: 0;
    padding-right: 0;
}

.full-nav-width ul li a {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 1em;
    margin: 0 auto;
    color: white;
}

.nav-tab-item-active {
    border-bottom: 8px solid white;
}

nav.navbar.navbar-default {
    border: none;
}

ul.nav.navbar-nav.row.col-md-12 li {
    height: 92px;
    text-align: center;
}

ul.nav.navbar-nav.row.col-md-12 li, ul.nav.navbar-nav.row.col-md-12 li a {
    color: white;
}

.course-option {
    border: none;
}

.course-option-mobile {
    border: 1px solid #18222c;
}

/*  COLOR NAVIGATION  */

.color-nav-home {
    background-color: #2eb0b0;
}

.color-nav-home:hover {
    background-color: #299898;
}

.color-nav-profile {
    background-color: #803a76;
}

.color-nav-profile:hover {
    background-color: #68345e;
}

.color-nav-addarticle {
    background-color: #a3b925;
}

.color-nav-addarticle:hover {
    background-color: #839721;
}

.color-nav-grading {
    background-color: #faa429;
}

.color-nav-grading:hover {
    background-color: #e28d29;
}

.color-nav-course {
    background-color: #e2199d;
}

.color-nav-course:hover {
    background-color: #ca1a85;
}

.color-nav-select {
    background-color: #20b7c9;
}

.tab-nav.tabs a {
    color: white;
}

li.col-md-2.color-nav-select {
    padding: 0 1em;
}

.icon-resizer {
    font-size: 32px;
    display: inline-block;
    width: 100%;
}

.btn-search {
    border: none;
    background-color: #18222c;
    color: white;
    overflow: hidden;
    width: 36px;
    height: 36px;
}

input.form-control.search-input-mod {
    height: 36px;
}

.btn-search:hover {
    background-color: #243648;
    color: white;
}

.btn-search > i {
    font-size: 16px;
}

.btn-clear {
    background: none;
    margin-top: -5px;
}

.search-input-mod {
    border: 1px solid #18222c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: -0.5em;
}

form.course-select-form {
    padding-top: 1em;
    text-align: center;
}

img.discussion-profile {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    padding: 0;
}

.discussion-main {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.01);
    padding: 0.5em;
    margin-top: 1em;
}

.discussion-main:last-of-type{
    margin-bottom: 2em;
}

.discussion-main .row {
    margin-left: 0;
    margin-right: 0;
}

.discussion-commentary {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.discussion-author-info {
    font-weight: bold;
    font-size: large;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}

.discussion-right p {
    margin: 0;
}

.top-separator {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 0.2em;
}

.mobile-icon-profile {
    margin-top: 2px;
    text-align: right;
}

.btn-ba-style, .btn-primary {
    background-color: #803a76;
    color: white;
    border: none;
}

.btn-ba-style:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-ba-style:focus, .btn-ba-style:active:focus {
    background-color: #68435e;
    color: white;
}

.article-info {
    color: #2eafaf;
    font-size: medium;
    display: inline-block;
}

.rating-disabled {
    cursor: default!important;
}

.rating-xs {
    font-size: 1.25em!important;
}

a {
    color: #208c8c;
}

a:hover {
    color: #20b7c9;
}

h1 {
    color: darkslategrey;
    border-bottom: 1px solid #20b7c9;
}

footer {
    background-color: #2eafaf;
    height: 90px;
    overflow: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: inherit;
    z-index: 50;
}

h3 a {
    color: #081d32;
}

h3 a:hover {
    color: #0b3558;
}

textarea#comment-area {
    resize: none;
    overflow: auto;
    min-height: 4em;
    margin-bottom: 12px;
}

textarea.reply {
    resize: none;
    overflow: auto;
    min-height: 8em;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    display: none;
    padding: 0.3em 0.5em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.hidden-btn {
    display: none;
}

.reply-link {
    cursor: pointer;
    font-weight: bold;
}

input:focus {
    outline: none !important;
    border: 1px solid grey;
    box-shadow: 0 0 2px grey;
}

input:focus, textarea#comment-area:focus, textarea:focus, input.form-control.search-input-mod:focus, input#title:focus, input.form-control:focus, select.form-control.course-option:focus, select.form-control.course-option:active:focus, select.form-control.course-option:active {
    outline: none !important;
    border: 1px solid grey;
    box-shadow: 0 0 2px grey;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.side_tabs_grading {
    padding: 0 15px;
}

.jumbotron {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul.pagination li.active span {
    background-color: #803a76;
    border: 1px solid #803a76;
}

ul.pagination li.active span:hover {
    background-color: #662e5e;
    border: 1px solid #803a76;
}

ul.pagination li a, ul.pagination li a:hover {
    color: #803a76;
}

span.tag a {
    color: white;
}

.course-select-label {
    font-weight: normal;
}

.row.footer-top-row {
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
}

ul.footer-top-menu {
    display: block;
    height: 100%;
}

ul.footer-top-menu li {
    display: inline-block;
    list-style: none;
    height: 100%;
    line-height: 40px;
}

ul.footer-top-menu li + li {
    margin-left: 1.5em;
}

ul.footer-top-menu li a, ul.footer-top-menu li a:hover {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-top: 5px;
    text-transform: uppercase;
}

ul.footer-top-menu li a:hover {
    border-top: 5px solid white;
    margin-top: 0;
}

.footer-bottom-row {
    height: 40px;
    line-height: 40px;
}

ul.typeahead.dropdown-menu {
    overflow: hidden;
}

span.tag.label.label-info {
    font-size: medium;
}

.side_tabs_top:before {
    top: 0px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#9a9a9a));
    background-image: -webkit-linear-gradient(transparent, #9a9a9a);
    background-image: -moz-linear-gradient(transparent, #9a9a9a);
    background-image: -o-linear-gradient(transparent, #9a9a9a);
    z-index: -2;
}

a.tab-item {
    opacity: 1;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

/*.left_col {
    padding-bottom: 50px;
}*/

/*.main_container {
         min-height: 100%;
         overflow: hidden;
         margin-bottom: 60px;
     }*/

.vertical-login-separator {
    border-left: 1px solid red;
    margin-left: 0.3em;
    padding-left: 0.5em;
}

.container_content {
    position: relative;
}

span.nav-tab-item-caption, .course-select-label {
    font-size: 18px;
}

.container {
    padding-left: 0;
}

input.btn.btn-primary, button.btn.btn-primary {
    height: 40px;
}

button.btn.btn-primary {
    min-width: 42px;
}

.course-mobile-row {
    background-color: #662e5e;
    padding: 5px 20px;
}

.more-dropdown-menu {
    position: fixed;
    bottom: 47px;
    background-color: rgb(252, 163, 221);
    border: 1px solid gray;
    right: 0;
    width: 20%;
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
    border: rgb(119, 119, 119);
}

.tab-nav.tabs .more-dropdown-menu ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.tab-nav.tabs .more-dropdown-menu ul li {
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    padding: 0.5em;
}

.tab-nav.tabs .more-dropdown-menu ul li:hover {
    background-color: #f1f1f1;
}

.tab-nav.tabs .more-dropdown-menu ul li a {
    color: #000;
    display: inline-block;
    width: 100%;
}

.tab-nav.tabs .more-dropdown-menu ul li a:hover {
    text-decoration: none;
}

/* Media queries MAX, MIN width for desktop */

@media only screen and (min-width: 1200px) {
    .form-group.search-form-group.row {
        margin-top: 40px;
    }

    .main-header .input-group {
        margin-bottom: -100px;
    }

    .right-column {
        padding-left: 79px;
    }

    .search-form-header {
        margin-top: -3em;
        padding: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .right-column {
        padding-left: 64px;
    }
}

@media (min-width: 992px) {

    li.color-nav-home a.tab-item {
        margin-left: 10px;
    }

    .form-group.search-form-group.row {
        margin-top: -25px;
    }

    .jumbotron.main-header {
        padding-top: 60px;
    }

    #ba-logo {
        display: block;
        height: 63px;
        width: 281px;
        background: url("/img/blog-academy-logo.png") no-repeat;
        overflow: hidden;
        text-indent: -99999px;
        margin-bottom: 50px;
        margin-top: -30px;
    }

    /*   .right_col_profile:before {
            top: 0px;
            left: -1px;
            bottom: 0px;
            right: 0px;
            background-color: black;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#9a9a9a));
            background-image: -webkit-linear-gradient(transparent, #9a9a9a);
            background-image: -moz-linear-gradient(transparent, #9a9a9a);
            background-image: -o-linear-gradient(transparent, #9a9a9a);
            z-index: -2;
        }*/
    .right_col_profile {
        position: relative;
        padding-top: 2em;
        margin-left: -10px;
        margin-bottom: 80px;
        padding-bottom: 50px;

        border-left: 1px solid;
        border-right: 0px;
        -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#9a9a9a), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(bottom, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to top, #9a9a9a, rgba(0, 0, 0, 0)) 1 100%;
        background-position: left bottom;
        background-image: url('/img/ceruzka.png');
        background-repeat: no-repeat;

    }

    /*   .right_col_profile:before, .right_col_profile:after {
            content: '';
            position: absolute;
        }

        .right_col_profile:after {
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            background-position: left bottom;
            background-image: url('/img/ceruzka.png');
            background-repeat: no-repeat;

        }*/

}

/* Media queries MAX, MIN width for mobile */

@media only screen and (max-width: 991px) {

    .wrapper {
        padding-bottom: 60px;
    }

    .container.main_container {
        padding-left: 0;
        padding-right: 0;
    }

    .container_content {
        padding-top: 10px;
    }

    .left_col {
        padding-bottom: 20px;
    }

    .col-md-7.right-column.left_col .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-3.col-md-offset-1.right_col {
        padding-left: 0;
        padding-right: 0;
    }

    .container.main_container {
        width: 100%;
    }

    .mobile_profile {
        width: 100%;
        background-color: rgba(185, 185, 185, 0.3);
        padding-top: 30px;
        padding-bottom: 20px;
    }

    form.navbar-form.navbar-right.search-form-header {
        margin-top: 14px;
    }

    .right_col_profile_top {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .right_col_profile_bottom {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .separator {
        margin-bottom: 10px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }

    .alert {
        margin: 0;
    }

    select#chooseCourse.form-control.course-option.course-option-mobile {
        margin-top: -10px;
    }

    form.navbar-form.navbar-right.search-form-header {
        width: 100%;
    }

    .form-group.search-form-group.row {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .form-group {
        margin-bottom: 16px;
    }

    input.form-control.typeahead.mobile-search-input {
        border: none;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 10%;
        float: right;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    input.form-control.typeahead.mobile-search-input:focus {
        width: 90%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .inner-addon {
        position: relative;
        margin-top: -24px;
    }

    .inner-addon .icon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        top: -6px;
    }

    .left-addon .icon {
        left: 0px;
    }

    .right-addon .icon {
        right: 0px;
    }

    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    body {
        padding-bottom: 50px;
    }

    h1 + .side_tabs {
        margin-top: 20px;
    }

    h1 {
        font-size: 23px;
    }

    #ba-logo {
        display: block;
        height: 63px;
        width: 72px;
        background: url("/img/blog-academy-logotyp.png") no-repeat;
        text-indent: -99999px;
        overflow: hidden;
        margin-top: 10px;
    }

    .h3, h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .row-header {
        padding-right: 15px;
    }

    .tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: horizontal;
        -moz-flex-direction: horizontal;
        -ms-flex-direction: horizontal;
        flex-direction: horizontal;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background: #f8f8f8 linear-gradient(0deg, #b2b2b2, #b2b2b2 50%);
        color: #777;
        position: fixed;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 49px;
        border-top: 1px solid #b2b2b2;
        background-size: 0;
        line-height: 49px
    }

    .tab-item .icon {
        display: block;
        margin: 0 auto;
        height: 32px;
        font-size: 32px
    }

    .tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
        font-size: 10px;
        line-height: 14px
    }

    .tab-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        overflow: hidden;
        max-width: 150px;
        height: 100%;
        color: inherit;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-size: 14px;
        font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        opacity: .7
    }

    .tab-item {
        font-size: 10px;
        line-height: 14px
    }

    .tab-item:hover {
        cursor: pointer;
        text-decoration: none
    }

    .tab-item .icon {
        display: block;
        margin: 0 auto;
        height: 32px;
        font-size: 32px
    }

    .tab-item.tab-item-active, a.tab-item.tab-item-active {
        color: #ffffff
    }

    .tabs {
        /*padding-top: 2px;*/
        border-top: none !important;
        border-bottom: 0;
        background-size: 100% 1px;
        background: no-repeat top;
    }

    select#chooseCourse {
        width: 60%;
        margin-left: 1em;
    }

    label.course-select-label.hidden-xs {
        color: white;
        margin-top: 5px;
    }
}

@media (max-width: 767px) {

    input.form-control.typeahead.mobile-search-input {
        margin-bottom: -40px;
        margin-top: 14px;
    }

    .inner-addon.left-addon {
        margin-right: -60px;
        margin-top: -17px;
    }

    .form-group {
        margin-bottom: 14px;
    }

    select#chooseCourse.form-control.course-option.course-option-mobile {
        margin-top: 15px;
    }

    select#chooseCourse {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    input.form-control.search-input-mod {
        margin: 0;
    }

    .main-header {
        margin-bottom: 0;
        padding: 0;
        background-color: white;
    }

}

@media (min-width: 768px) {

    .navbar-form .input-group {
        margin-top: -14px;
    }

    .main-header i.icon.icon-resizer {
        margin-top: -7px;
    }

    .navbar-form .form-group {
        vertical-align: inherit;
    }

    .h3, h3 {
        font-size: 24px;
        font-weight: normal;

    }

    .search-form-group {
        margin-top: 25px;
    }

    .main-header {
        padding-top: 0;
    }

    .mobile-icon-profile.col-xs-2.col-sm-2.hidden-md.hidden-lg {
        margin-top: 22px;
    }
}

@media (min-width: 992px) {
    .container_content {
        padding: 30px 15px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .left_col {
        margin-bottom: 80px;
        padding-bottom:40px;
    }

    .push {
        padding-bottom: 100px;
    }

    .alert {
        margin: 20px 0 0 0;
        width: inherit;
    }

/*  .separator1 {                                                     1
        margin-bottom: 10px;
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.3);
    }


    .separator2 {
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1px dashed #ccc;
        background: #999;
    }

    .separator3 {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        margin-bottom: 10px;
        border-style: solid;
        border-color: rgba(147, 147, 147, 0.47);
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

     .separator5 {
        margin-bottom: 10px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
    }

     .separator6 {
        height: 50px;
    }  */

    .separator {
        margin-bottom: 10px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }


}







